%h1 Listing awards

.row
  .span4
    %img{src: asset_path('a1.jpg')}
  .span4
    %img{src: asset_path('a2.jpg')}
  .span4
    %img{src: asset_path('a3.jpg')}
.row
  .span4
    %img{src: asset_path('a4.jpg')}

  - @awards.each do |award|
    %tr
      %td= award.user_id
      %td= award.complete
      %td= award.retailer_id
      %td= award.description
      %td= award.title
      %td= award.image
      %td= link_to 'Show', award
      %td= link_to 'Edit', edit_award_path(award)
      %td= link_to 'Destroy', award, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Award', new_award_path
